[submodule "mapview-backend"]
	path = mapview-backend
	url = https://github.com/BabithaReddy7/mapview-backend.git
[submodule "backend"]
	path = backend
	url = https://github.com/BabithaReddy7/mapview-backend.git
